body {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/bg-img.jpg');
  background-position: center;
  color: white;
}

.input {
  width: 250px;
  height: 50px;
  margin-bottom: 30px;
  border: 2px solid rgb(126, 54, 33);
  border-radius: 10px;
  background-color: rgba(196, 99, 61, 0);
  color: white;
  font-size: 18px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.719);
}

.country-info {
  display: flex;
}

.container:not(last-child) {
  margin-right: 30px;
}

.list {
  list-style: none;
  font-size: 24px;
  padding-inline-start: 0;
}

.country-card-list {
  padding-inline-start: 0;
  font-size: 18px;
  list-style: none;
}

.list-item {
  margin: 20px 0px 20px 0px;
}

.title {
  font-size: 36px;
  color: rgb(27, 7, 7);
}

.character {
  font-size: 24px;
  font-weight: 700;
  color: rgb(27, 7, 7);
}

.flag-img {
  display: inline-block;
  max-width: 380px;
  height: auto;
}
